.Body-container {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: #ffffff;
}

h4, h2, small, a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.carousel {
    width: 100%;
    margin: 0;
}

.carousel h2 {
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: 90vw;
    height: 100vh;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 0;
    left: -100vw; /* Start with the second image */
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 100vw; /* Same as the height */
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 15px;
}

.carrusel h4 small {
    font-size: 15px;
    display: block;
}

.carrusel a img {
    object-fit: cover;
    height: 85vh; /* Adjusted height to make the image smaller */
    width: 85vh; /* Adjusted width to keep the image proportionate */
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev {
    left: 10px;
}

.carrusel-next {
    right: 10px;
}

